name: Update Kexts for macOS
on: 
  push:
    branches: [ main ]
  schedule:
  - cron: 0 23 * * *

env:
  TZ: Asia/Shanghai

jobs:
  Update_Kexts_for_macOS:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@main

      - name: Setup Python 3.9.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.9.x'

      - name: Install Dependencies
        run: |
          sudo timedatectl set-timezone "$TZ"
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Download Kexts
        id: update
        run: |
          python downloader.py
          echo "message=$(date)" >> $GITHUB_OUTPUT

      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: ${{ steps.update.outputs.message }}
          
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 0
          keep_minimum_runs: 5
